.symp-field {
  margin: 4vh;
}

.showinrow {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  justify-content: space-between;
  /* border: solid 1px black; */
}

.symp-name {
  margin: auto;
  padding: auto;
}

.symname {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #042a4b;
  font-size: 2vh;
}

.delete-button {
  /* margin-top: 1rem; */
  width: 20%;
  height: 10%;
  text-transform: uppercase;
  background-color: tomato;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  outline: none;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

button.delete-button:hover {
  background-color: white;
  color: #042a4b;
  border: 0.5px solid #042a4b;
}
